# Virtual environments
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*.log

# System files
.DS_Store
Thumbs.db

# Minecraft world/server junk
*.jar
*.log
*.zip
logs/
*.lck
*.pid

# VS Code settings (opsional)
.vscode/
